// Place all the styles related to the Trades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.coinpair{
    display:flex;
    flex-flow:row;
    &>.name{
    }
    &>.target{
        color:gray;
    }
    &.price{
        
    }
}

.coins-list-container{
    width:320;
}
.coin-list-wrapper{
    padding: 3px;
    margin: 0;
    height: fit-content;
    display:flex;
    flex-flow:row;
    width:100%;
    p{
        margin: 0;
        padding: 0;
    }
    a{
        margin:0;
        padding:0;
    }
    &:hover{
        background-color: gray;
    }
}

.tradingview-widget-container{
    width:clamp(600px, 100%, 900px);
}